{% load static %}

<div id="footer">
  <div class="container" id="footer">
    <div class="col-md-6" id="about">
      <h2>About Me</h2>
      <div class="section-title">
        <div class="row">
	  <img src="{% static 'img/profile.png' %}" class="img-responsive pull-left">

	  <p>I'm a citizen of the world who loves mathematics and physics. I'm
	  currently an undergradate working on my B.S. in Physics with
	  Concentration in Engineering, a Minor in Astronomy, and a Minor in
	  Mathematics.</p>
	  <p>In my free time, I like to play around with any physics or math
	  problems which pique my interest. I also like to program for my own
	  personal projects.</p>
	  <p>I also have a passion for languages. I love reading anything
	  related to the field of linguistics (for example, how Vulgar Latin
	  evolved into the various Romance languages spoken today). I have a
	  basic understanding of French, and I'm currently learning Russian.</p>
	  <p>In this website, I have all my personal projects on all the topics
	  that interest me. Feel free to explore, and see where the links might
	  take you!</p>
	</div>
      </div>
    </div>


    <div class="col-md-5 col-md-offset-1" id="contact">
      <h2>Contact</h2>
      <div class="section-title">
        <p>For inquiries or collaborations, please contact me by email at
	<strong>javier@danetiska.com</strong></p>
      </div>

      <div class="social">
        <ul>
	  <li><a href=""><i class="fa fa-instagram"></i></a></li>
	  <li><a href=""><i class="fa fa-twitter"></i></a></li>
	  <li><a href=""><i class="fa fa-github"></i></a></li>
	  <li><a href=""><i class="fa fa-quora"></i></a></li>
	  <li><a href=""><i class="fa fa-youtube-play"></i></a></li>
	</ul>
      </div>
    </div>
  </div>
</div>
