{% load static %}

<!-- Header -->
<header id="header">
  <div class="intro">
    <div class="overlay">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-md-8">
            <div class="intro-text">
              <h1>Javier Castro</h1>
              <p>Physics Student</p>

              <a href="#about" class="btn btn-custom btn-lg page-scroll">About Me</a>
              <a href="#contact" class="btn btn-custom btn-lg page-scroll">Contact</a>
	      <a href="{% static 'doc/resume.pdf' %}" class="btn btn-custom btn-lg">Résumé</a>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
